<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>买家名称</string>
		<key>key</key>
		<string>buyerName</string>
		<key>keyBoardType</key>
		<string>0</string>
	</dict>
</array>
</plist>
